body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to top, #64B5F6,#1565C0 );
    color: #1976D2;
}
label{
    font-weight: 800;
    font-size: 10px;
    margin-left: 3px;
}
h2{
    display: flex;
    gap:225px;
}
h2 i {
    font-size: 25px;
}
a:visited {
    color: #1565C0;
}
#email {
    padding: 7px;
    border: 1px solid #64B5F6;
    border-radius: 7px;
    color: black;
    width: 300px;
    height: 12px;
}
#email:focus {
    outline: none;
    background-color:rgb(222, 226, 230);
    border-color: #64B5F6;
}
#password {
    padding: 7px;
    border: 1px solid #64B5F6;
    border-radius: 7px;
    color: black;
    width: 300px;
    height: 12px;
}
#password:focus {
    outline: none;
    background-color:rgb(222, 226, 230);
    border-color: #64B5F6;
}
.container{
    justify-content: center;
    border: 1px solid #90CAF9;
    padding: 20px;
    background-color: #E3F2FD;
    border-radius: 10px;
}
#loginButton{
    padding: 10px;
    background-color: #1565C0;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
}
#loginButton:hover {
    background-color: #42A5F5 ;
    color: black;
    box-shadow:10px 10px 2px #90CAF9;
}
