body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #212529;
}
label{
    font-weight: 800;
    font-size: 10px;
    margin-left: 3px;
}
#email {
    padding: 7px;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    width: 300px;
    height: 12px;
}
#password {
    padding: 7px;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    width: 300px;
    height: 12px;
}
.container{
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(222, 226, 230);
    border-radius: 10px;
    box-shadow:10px 10px 2px black;
}
#loginButton{
    padding: 10px;
    background-color: #212529;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
}
#loginButton:hover {
    background-color: #ADB5BD;
    color: black;
    box-shadow:10px 10px 2px #343A40;
}
